---
# STEP 1 
---

# PRE PROCESSING

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [2]:
train_set = pd.read_csv('data//data.csv', delimiter='\t')
print(train_set.head())

C:\Users\Ngurah Ervan\AppData\Local\Temp\ipykernel_21024\2986868959.py:1: DtypeWarning: Columns (93) have mixed types. Specify dtype option on import or set low_memory=False.
  train_set = pd.read_csv('data//data.csv', delimiter='\t')

   R1  R2  R3  R4  R5  R6  R7  R8  I1  I2  ...  orientation  race  voted  \
0   3   4   3   1   1   4   1   3   5   5  ...            1     1      2
1   1   1   2   4   1   2   2   1   5   5  ...            3     4      1
2   2   1   1   1   1   1   1   1   4   1  ...            1     4      2
3   3   1   1   2   2   2   2   2   4   1  ...            1     1      2
4   4   1   1   2   1   1   1   2   5   5  ...            3     1      2

   married  familysize  uniqueNetworkLocation  country  source      major  \
0        1           1                      1       US       2        NaN
1        2           3                      1       US       1    Nursing
2        1           1                      1       US       1        NaN
3        1           1                      1       CN       0        NaN
4        1           4                      1       PH       0  education

   Unnamed: 93
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

[5 rows x 94 columns]

In [3]:
print(train_set.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145828 entries, 0 to 145827
Data columns (total 94 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   R1                     145828 non-null  int64
 1   R2                     145828 non-null  int64
 2   R3                     145828 non-null  int64
 3   R4                     145828 non-null  int64
 4   R5                     145828 non-null  int64
 5   R6                     145828 non-null  int64
 6   R7                     145828 non-null  int64
 7   R8                     145828 non-null  int64
 8   I1                     145828 non-null  int64
 9   I2                     145828 non-null  int64
 10  I3                     145828 non-null  int64
 11  I4                     145828 non-null  int64
 12  I5                     145828 non-null  int64
 13  I6                     145828 non-null  int64
 14  I7                     145828 non-null  int64
 15  I8                     145828 non-null  int64
 16  A1                     145828 non-null  int64
 17  A2                     145828 non-null  int64
 18  A3                     145828 non-null  int64
 19  A4                     145828 non-null  int64
 20  A5                     145828 non-null  int64
 21  A6                     145828 non-null  int64
 22  A7                     145828 non-null  int64
 23  A8                     145828 non-null  int64
 24  S1                     145828 non-null  int64
 25  S2                     145828 non-null  int64
 26  S3                     145828 non-null  int64
 27  S4                     145828 non-null  int64
 28  S5                     145828 non-null  int64
 29  S6                     145828 non-null  int64
 30  S7                     145828 non-null  int64
 31  S8                     145828 non-null  int64
 32  E1                     145828 non-null  int64
 33  E2                     145828 non-null  int64
 34  E3                     145828 non-null  int64
 35  E4                     145828 non-null  int64
 36  E5                     145828 non-null  int64
 37  E6                     145828 non-null  int64
 38  E7                     145828 non-null  int64
 39  E8                     145828 non-null  int64
 40  C1                     145828 non-null  int64
 41  C2                     145828 non-null  int64
 42  C3                     145828 non-null  int64
 43  C4                     145828 non-null  int64
 44  C5                     145828 non-null  int64
 45  C6                     145828 non-null  int64
 46  C7                     145828 non-null  int64
 47  C8                     145828 non-null  int64
 48  introelapse            145828 non-null  int64
 49  testelapse             145828 non-null  int64
 50  surveyelapse           145828 non-null  int64
 51  TIPI1                  145828 non-null  int64
 52  TIPI2                  145828 non-null  int64
 53  TIPI3                  145828 non-null  int64
 54  TIPI4                  145828 non-null  int64
 55  TIPI5                  145828 non-null  int64
 56  TIPI6                  145828 non-null  int64
 57  TIPI7                  145828 non-null  int64
 58  TIPI8                  145828 non-null  int64
 59  TIPI9                  145828 non-null  int64
 60  TIPI10                 145828 non-null  int64
 61  VCL1                   145828 non-null  int64
 62  VCL2                   145828 non-null  int64
 63  VCL3                   145828 non-null  int64
 64  VCL4                   145828 non-null  int64
 65  VCL5                   145828 non-null  int64
 66  VCL6                   145828 non-null  int64
 67  VCL7                   145828 non-null  int64
 68  VCL8                   145828 non-null  int64
 69  VCL9                   145828 non-null  int64
 70  VCL10                  145828 non-null  int64
 71  VCL11                  145828 non-null  int64
 72  VCL12                  145828 non-null  int64
 73  VCL13                  145828 non-null  int64
 74  VCL14                  145828 non-null  int64
 75  VCL15                  145828 non-null  int64
 76  VCL16                  145828 non-null  int64
 77  education              145828 non-null  int64
 78  urban                  145828 non-null  int64
 79  gender                 145828 non-null  int64
 80  engnat                 145828 non-null  int64
 81  age                    145828 non-null  int64
 82  hand                   145828 non-null  int64
 83  religion               145828 non-null  int64
 84  orientation            145828 non-null  int64
 85  race                   145828 non-null  int64
 86  voted                  145828 non-null  int64
 87  married                145828 non-null  int64
 88  familysize             145828 non-null  int64
 89  uniqueNetworkLocation  145828 non-null  int64
 90  country                145816 non-null  object
 91  source                 145828 non-null  int64
 92  major                  92954 non-null   object
 93  Unnamed: 93            1 non-null       object
dtypes: int64(91), object(3)
memory usage: 104.6+ MB
None

In [5]:
train_set = train_set.drop(columns=['Unnamed: 93'])

In [30]:
train_set = train_set.drop(columns=['country'])

# CLEARING DUPLICATE

In [6]:
train_set.isna().sum()

R1                           0
R2                           0
R3                           0
R4                           0
R5                           0
                         ...
familysize                   0
uniqueNetworkLocation        0
country                     12
source                       0
major                    52874
Length: 93, dtype: int64

In [7]:
train_set = train_set.dropna(subset=['major'])

In [31]:
train_set.isna().sum()

R1                       0
R2                       0
R3                       0
R4                       0
R5                       0
                        ..
married                  0
familysize               0
uniqueNetworkLocation    0
source                   0
major                    0
Length: 92, dtype: int64

In [9]:
print("Jumlah duplikasi: ",train_set.duplicated().sum())

Jumlah duplikasi:  0

In [10]:
print(train_set.columns)

Index(['R1', 'R2', 'R3', 'R4', 'R5', 'R6', 'R7', 'R8', 'I1', 'I2', 'I3', 'I4',
       'I5', 'I6', 'I7', 'I8', 'A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8',
       'S1', 'S2', 'S3', 'S4', 'S5', 'S6', 'S7', 'S8', 'E1', 'E2', 'E3', 'E4',
       'E5', 'E6', 'E7', 'E8', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8',
       'introelapse', 'testelapse', 'surveyelapse', 'TIPI1', 'TIPI2', 'TIPI3',
       'TIPI4', 'TIPI5', 'TIPI6', 'TIPI7', 'TIPI8', 'TIPI9', 'TIPI10', 'VCL1',
       'VCL2', 'VCL3', 'VCL4', 'VCL5', 'VCL6', 'VCL7', 'VCL8', 'VCL9', 'VCL10',
       'VCL11', 'VCL12', 'VCL13', 'VCL14', 'VCL15', 'VCL16', 'education',
       'urban', 'gender', 'engnat', 'age', 'hand', 'religion', 'orientation',
       'race', 'voted', 'married', 'familysize', 'uniqueNetworkLocation',
       'country', 'source', 'major'],
      dtype='object')

In [11]:
train_set.describe()

,R1,R2,R3,R4,R5,R6,R7,R8,I1,I2,...,age,hand,religion,orientation,race,voted,married,familysize,uniqueNetworkLocation,source
count,92954.000000,92954.000000,92954.000000,92954.000000,92954.000000,92954.000000,92954.000000,92954.000000,92954.000000,92954.000000,...,9.295400e+04,92954.000000,92954.000000,92954.000000,92954.000000,92954.000000,92954.000000,9.295400e+04,92954.000000,92954.000000
mean,2.599286,2.159240,1.767197,2.275276,1.747596,2.271984,2.015847,1.997547,3.495256,3.373432,...,1.616546e+05,1.131043,5.551563,1.348613,3.249457,1.524496,1.351615,1.955833e+05,1.246735,0.416529
std,1.331454,1.238005,1.129459,1.322731,1.063415,1.280006,1.173389,1.181730,1.307994,1.349221,...,1.786815e+07,0.404311,3.409146,0.987252,1.400614,0.522129,0.604330,2.018972e+07,0.431113,0.646567
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.300000e+01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,1.000000,0.000000
25%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,2.000000,...,2.000000e+01,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,2.000000e+00,1.000000,0.000000
50%,3.000000,2.000000,1.000000,2.000000,1.000000,2.000000,2.000000,2.000000,4.000000,4.000000,...,2.400000e+01,1.000000,6.000000,1.000000,4.000000,2.000000,1.000000,3.000000e+00,1.000000,0.000000
75%,4.000000,3.000000,2.000000,3.000000,2.000000,3.000000,3.000000,3.000000,5.000000,4.000000,...,3.500000e+01,1.000000,7.000000,1.000000,4.000000,2.000000,2.000000,3.000000e+00,1.000000,1.000000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,2.147484e+09,3.000000,12.000000,5.000000,5.000000,2.000000,3.000000,2.147484e+09,2.000000,2.000000

# CHECKING CORRELATION

In [25]:
label_encoder = LabelEncoder()
train_set['major'] = label_encoder.fit_transform(train_set['major'])

In [26]:
print(train_set['major'].value_counts())

major
14860    6861
8897     5763
3966     2342
1616     2290
1356     1289
         ...
6568        1
15522       1
3875        1
6167        1
79          1
Name: count, Length: 15954, dtype: int64

In [32]:
correlation_matrix = train_set.corr()

In [33]:
major_correlations = correlation_matrix['major'].sort_values(ascending=False)

In [34]:
print(major_correlations)

major     1.000000
S3        0.096764
S5        0.085339
gender    0.074256
S8        0.062330
            ...
VCL2     -0.071028
VCL5     -0.074731
E5       -0.075448
C6       -0.076774
VCL13    -0.097827
Name: major, Length: 92, dtype: float64

In [37]:
pd.set_option('display.max_rows', None)

In [38]:
print(major_correlations)

major                    1.000000
S3                       0.096764
S5                       0.085339
gender                   0.074256
S8                       0.062330
religion                 0.053466
S6                       0.042859
uniqueNetworkLocation    0.039980
I1                       0.035895
I4                       0.033131
engnat                   0.031619
voted                    0.031197
TIPI7                    0.029754
orientation              0.023702
E4                       0.019255
S7                       0.014222
VCL8                     0.013880
I7                       0.013129
TIPI10                   0.012849
I2                       0.012125
race                     0.011701
TIPI4                    0.009758
I5                       0.008658
TIPI1                    0.006644
VCL9                     0.006514
S1                       0.006457
familysize               0.005554
TIPI8                    0.003438
age                      0.002779
S4                       0.001442
hand                     0.001158
S2                      -0.001265
source                  -0.001817
testelapse              -0.002557
TIPI6                   -0.002585
TIPI9                   -0.003499
surveyelapse            -0.004353
I3                      -0.005232
introelapse             -0.005921
urban                   -0.006283
I6                      -0.006356
TIPI3                   -0.007153
VCL6                    -0.007163
E2                      -0.007769
E6                      -0.011200
VCL7                    -0.011586
married                 -0.012711
TIPI2                   -0.014631
A7                      -0.016891
R5                      -0.016927
A1                      -0.020841
VCL12                   -0.021185
A2                      -0.022356
TIPI5                   -0.022664
VCL16                   -0.023088
R3                      -0.024034
R1                      -0.026421
A3                      -0.028105
R8                      -0.028630
A4                      -0.029314
R7                      -0.030567
R2                      -0.030968
E1                      -0.031531
A5                      -0.032447
E8                      -0.033560
A8                      -0.033777
E7                      -0.034908
C4                      -0.035005
VCL1                    -0.035654
VCL11                   -0.037387
A6                      -0.039276
C1                      -0.041104
VCL10                   -0.042534
C2                      -0.044016
R6                      -0.044307
VCL4                    -0.045325
I8                      -0.046523
VCL3                    -0.046884
E3                      -0.050562
C8                      -0.052139
VCL15                   -0.058998
education               -0.059602
VCL14                   -0.061744
R4                      -0.063792
C3                      -0.066560
C5                      -0.067420
C7                      -0.067689
VCL2                    -0.071028
VCL5                    -0.074731
E5                      -0.075448
C6                      -0.076774
VCL13                   -0.097827
Name: major, dtype: float64

# Filter untuk masing masing pertanyaan RIASEC

In [62]:
r_columns = [col for col in major_correlations.index if col.startswith('R')]
r_correlations = major_correlations[r_columns]
r_correlations_sorted = r_correlations.reindex(r_correlations.abs().sort_values(ascending=False).index)
print(r_correlations_sorted)

R4   -0.063792
R6   -0.044307
R2   -0.030968
R7   -0.030567
R8   -0.028630
R1   -0.026421
R3   -0.024034
R5   -0.016927
Name: major, dtype: float64

In [61]:
i_columns = [col for col in major_correlations.index if col.startswith('I')]
i_correlations = major_correlations[i_columns]
i_correlations_sorted = i_correlations.reindex(i_correlations.abs().sort_values(ascending=False).index)
print(i_correlations_sorted)

I8   -0.046523
I1    0.035895
I4    0.033131
I7    0.013129
I2    0.012125
I5    0.008658
I6   -0.006356
I3   -0.005232
Name: major, dtype: float64

In [60]:
a_columns = [col for col in major_correlations.index if col.startswith('A')]
a_correlations = major_correlations[a_columns]
a_correlations_sorted = a_correlations.reindex(a_correlations.abs().sort_values(ascending=False).index)
print(a_correlations_sorted)

A6   -0.039276
A8   -0.033777
A5   -0.032447
A4   -0.029314
A3   -0.028105
A2   -0.022356
A1   -0.020841
A7   -0.016891
Name: major, dtype: float64

In [59]:
s_columns = [col for col in major_correlations.index if col.startswith('S')]
s_correlations = major_correlations[s_columns]
s_correlations_sorted = s_correlations.reindex(s_correlations.abs().sort_values(ascending=False).index)
print(s_correlations_sorted)

S3    0.096764
S5    0.085339
S8    0.062330
S6    0.042859
S7    0.014222
S1    0.006457
S4    0.001442
S2   -0.001265
Name: major, dtype: float64

In [58]:
e_columns = [col for col in major_correlations.index if col.startswith('E')]
e_correlations = major_correlations[e_columns]
e_correlations_sorted = e_correlations.reindex(e_correlations.abs().sort_values(ascending=False).index)
print(e_correlations_sorted)

E5   -0.075448
E3   -0.050562
E7   -0.034908
E8   -0.033560
E1   -0.031531
E4    0.019255
E6   -0.011200
E2   -0.007769
Name: major, dtype: float64

In [57]:
c_columns = [col for col in major_correlations.index if col.startswith('C')]
c_correlations = major_correlations[c_columns]
c_correlations_sorted = c_correlations.reindex(c_correlations.abs().sort_values(ascending=False).index)
print(c_correlations_sorted)

C6   -0.076774
C7   -0.067689
C5   -0.067420
C3   -0.066560
C8   -0.052139
C2   -0.044016
C1   -0.041104
C4   -0.035005
Name: major, dtype: float64

# Filter untuk pertanyaan diluar RIASEC

In [65]:
# Define the letters to exclude
exclude_letters = ['R', 'I', 'A', 'S', 'E', 'C']  

#Filter columns that do not start with the specified letters
filtered_columns = [col for col in major_correlations.index if not any(col.startswith(letter) for letter in exclude_letters)]

# Create a DataFrame for filtered columns and their correlations
filtered_correlations = major_correlations[filtered_columns]

# Sort the filtered correlations
filtered_correlations_sorted = filtered_correlations.sort_values(ascending=False)

# Display the sorted correlations
print(filtered_correlations_sorted)

major                    1.000000
gender                   0.074256
religion                 0.053466
uniqueNetworkLocation    0.039980
engnat                   0.031619
voted                    0.031197
TIPI7                    0.029754
orientation              0.023702
VCL8                     0.013880
TIPI10                   0.012849
race                     0.011701
TIPI4                    0.009758
TIPI1                    0.006644
VCL9                     0.006514
familysize               0.005554
TIPI8                    0.003438
age                      0.002779
hand                     0.001158
source                  -0.001817
testelapse              -0.002557
TIPI6                   -0.002585
TIPI9                   -0.003499
surveyelapse            -0.004353
introelapse             -0.005921
urban                   -0.006283
TIPI3                   -0.007153
VCL6                    -0.007163
VCL7                    -0.011586
married                 -0.012711
TIPI2                   -0.014631
VCL12                   -0.021185
TIPI5                   -0.022664
VCL16                   -0.023088
VCL1                    -0.035654
VCL11                   -0.037387
VCL10                   -0.042534
VCL4                    -0.045325
VCL3                    -0.046884
VCL15                   -0.058998
education               -0.059602
VCL14                   -0.061744
VCL2                    -0.071028
VCL5                    -0.074731
VCL13                   -0.097827
Name: major, dtype: float64

# Filter VCL Questions

In [56]:
vcl_columns = [col for col in major_correlations.index if col.startswith('VCL')]
vcl_correlations = major_correlations[vcl_columns]
vcl_correlations_sorted = vcl_correlations.reindex(vcl_correlations.abs().sort_values(ascending=False).index)
print(vcl_correlations_sorted)

VCL13   -0.097827
VCL5    -0.074731
VCL2    -0.071028
VCL14   -0.061744
VCL15   -0.058998
VCL3    -0.046884
VCL4    -0.045325
VCL10   -0.042534
VCL11   -0.037387
VCL1    -0.035654
VCL16   -0.023088
VCL12   -0.021185
VCL8     0.013880
VCL7    -0.011586
VCL6    -0.007163
VCL9     0.006514
Name: major, dtype: float64

# Filter TIPI

In [55]:
tipi_columns = [col for col in major_correlations.index if col.startswith('TIPI')]
tipi_correlations = major_correlations[tipi_columns]
tipi_correlations_sorted = tipi_correlations.reindex(tipi_correlations.abs().sort_values(ascending=False).index)
print(tipi_correlations_sorted)

TIPI7     0.029754
TIPI5    -0.022664
TIPI2    -0.014631
TIPI10    0.012849
TIPI4     0.009758
TIPI3    -0.007153
TIPI1     0.006644
TIPI9    -0.003499
TIPI8     0.003438
TIPI6    -0.002585
Name: major, dtype: float64

# Filter Pertanyaan diluar RIASEC, VCL, TIPI

In [66]:
# Define the letters to exclude
exclude_letters = ['R', 'I', 'A', 'S', 'E', 'C', 'TIPI', 'VCL']  

#Filter columns that do not start with the specified letters
filtered_columns = [col for col in major_correlations.index if not any(col.startswith(letter) for letter in exclude_letters)]

# Create a DataFrame for filtered columns and their correlations
filtered_correlations = major_correlations[filtered_columns]

# Sort the filtered correlations
filtered_correlations_sorted = filtered_correlations.reindex(filtered_correlations.abs().sort_values(ascending=False).index)

# Display the sorted correlations
print(filtered_correlations_sorted)

major                    1.000000
gender                   0.074256
education               -0.059602
religion                 0.053466
uniqueNetworkLocation    0.039980
engnat                   0.031619
voted                    0.031197
orientation              0.023702
married                 -0.012711
race                     0.011701
urban                   -0.006283
introelapse             -0.005921
familysize               0.005554
surveyelapse            -0.004353
age                      0.002779
testelapse              -0.002557
source                  -0.001817
hand                     0.001158
Name: major, dtype: float64